/* añadire el estilo mas tarde ahora guardo la estructura basica*/
/* .input {
  width: ;
  padding: ;
  border-radius: ;
  border: ;
  background-color:; 
  color:;
  outline: ;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: ;
} */