/* button {
  background: ;
  width: ;
  height: ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: ;
  border: none;
  font-size: ;
  color: ;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  border-radius: 20px;
} */

/* añadire las clases segun el atomi mas tarde, asi guardo la estructura basica*/