/* adapatar estilos segun los 2 modales, el de challenge y el de result, crear cada clase con su estilo*/

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: ;
  box-sizing: ;
} */

/* .modalContainer {
  width: ;
  max-width: ;
  height: ;
  background-color: ;
  border-radius: ;
  box-shadow:); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: ;
  box-sizing: ;
  padding: ;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: ;
}

.message {
  font-weight: ;
  font-size: ;
  color: #000000;
  margin: 0;
  text-align: center;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
} */
