*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --font-primary: 'Space Grotesk', sans-serif;

  --text-mini: 12px;
  --text-error: 14px;
  --text-base: 16px;
  --text-h5: 18px;
  --text-h4: 20px;
  --text-h3: 24px;
  --text-h2: 28px;
  --text-h1: 32px;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  --color-text-main: #FFFFFF;
  --color-text-muted: #A09EB0;
  --color-text-dark: #333333;

  --color-neon-orange: #FF6B00;
  --color-neon-fuchsia: #E100FF;
  --color-neon-yellow: #FFDE00;
  --color-neon-lime: #39FF14;
  --color-neon-cyan: #00F0FF;
  --color-neon-red: #FF0033;
  
  --color-bg-input: #FFFFFF;
  --color-bg-void: #120A1F;
  --color-bg-glass-dark: rgba(20, 10, 30, 0.6);
  --color-bg-headerfooter: #221022;

  --glow-orange: 0px 0px 20px rgba(255, 107, 0, 0.5);
  --glow-fuchsia: 0px 0px 15px rgba(225, 0, 255, 0.5);
  --glow-red: 0 0 10px rgba(255, 0, 51, 0.7);
  --border-glass: 1px solid rgba(255, 255, 255, 0.1);

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-pill: 9999px;

  --transition-soft: all 0.3s ease;
}

html,
body {
  font-family: var(--font-primary);
  font-size: var(--text-base);
  color: var(--color-text-main);

  /* Traducimos EXACTAMENTE tus dos capas de Figma: */
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(135deg, var(--color-bg-void) 0%, var(--color-neon-fuchsia) 100%);

  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: var(--text-h1);
  font-weight: var(--weight-bold);
  margin: 0;
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--weight-bold);
  margin: 0;
}

h3 {
  font-size: var(--text-h3);
  font-weight: var(--weight-bold);
  margin: 0;
}

h4 {
  font-size: var(--text-h4);
  font-weight: var(--weight-bold);
  margin: 0;
}

h5 {
  font-size: var(--text-h5);
  font-weight: var(--weight-bold);
  margin: 0;
}

p {
  font-size: var(--text-base);
  font-weight: var(--weight-regular);
  margin: 0;
}